.projects--container {
  display: flex;
  justify-content: center;
}

.projects {
  text-decoration-line: underline;
  position: fixed;
  width: 296px;
  left: 258px;
  top: 583px;
  font-size: 15px;
  font-weight: lighter;
  z-index: 3;
  align-self: center;

  @media (max-width: 428px) {
    font-size: 15px;
    text-align: left;
    position: fixed;
    left: 266px;
    top: 595px;
  }
}
